{% extends "/templates/base.html" %}
{% block navbar %}{{ create_navbar("LEITURA") }} {% endblock %}
{% block head %}
<script type="text/javascript" src="/static/js/mustache.js"></script>
<script type="text/javascript">
    var tmpl=null;
    $.get("/static/html/tirinhas_mustache.html",function(resultado){
        tmpl=resultado;
    });
    var carregarEnviosConstrutor=function (){
        var listUrl="{{ list_url }}";
        var $conteudo=$("#envios");
        return function(){
            $.getJSON(listUrl,function(resposta){
                listUrl=resposta.nextPageUrl;
                var renderizar=Mustache.render(tmpl,resposta);
                $conteudo.append(renderizar);
            });
        }
    };
    
    $(document).ready(function(){
        var carregarEnvios=carregarEnviosConstrutor();
        carregarEnvios();
        $("#mais").click(carregarEnvios);

    });
    
    
</script>
<script type="text/javascript">

    function apagarTirinha() {
        var tirinhaId=$(this).attr("data-id");
        var url=$(this).attr("data-url");
        var loader=$("img[data-id="+ tirinhaId +"]")
        loader.fadeIn();
        alert(tirinhaId);
        function apagarLinha(){
            $('tr[data-id='+tirinhaId+']').fadeOut();
        }

        $.post(url,apagarLinha).error(function(){
            alert("Deu erro ao apagar estado")
        });
    }
    $(document).ready(function(){
        $("#envios").delegate(".btn-erase","click",apagarTirinha);
        $(".loader").hide();
    });
</script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="span1" style="width: 28px;"></div>
    <div class="span6">
        <h4>Adoro Pásco.....</h4>
        <img src="/static/img/tirinha.jpg" class="img-polaroid">
        <p style="text-align: center;"><i>Agora sabemos por que evoluimos</i></p>
        <a href="#" class="btn btn-primary"><i class="icon-thumbs-up icon-white"></i></a>
        <a href="#" class="btn btn-danger"><i class="icon-thumbs-down icon-white"></i></a>
        <a href="#" class="btn btn-info ">Compartilhar | <i class="icon-globe icon-white"></i></a>
        <a href="#" class="btn btn-inverse ">Denunciar | <i class="icon-bullhorn icon-white"></i></a>
        {% for t in tirinha %}
            <h4>{{ t.titulo_tirinha }}</h4>
            <img src="" class="img-polaroid" alt="{{ t.img_tirinha }}">
            <p style="text-align: center;"><i>{{ t.legenda }}</i></p>
            <a href="#" class="btn btn-primary"><i class="icon-thumbs-up icon-white"></i></a>
            <a href="#" class="btn btn-danger"><i class="icon-thumbs-down icon-white"></i></a>
            <a href="#" class="btn btn-info ">Compartilhar | <i class="icon-globe icon-white"></i></a>
            <a href="#" class="btn btn-inverse ">Denunciar | <i class="icon-bullhorn icon-white"></i></a>
        {% endfor %}
    </div>

    <div class="span3">
        <h4>Envie sua Tirinha: </h4>
        <a href="/leitura/tirinha/form" class="btn">Enviar</a>
        <h3>Seus ultimos envios:</h3>
        <table class="table table-striped" id="envios">
            <thead>
            <tr>
                <th>#</th>
                <th>Título</th>
                <th >Likes</th>
                <th>Gerenciar</th>
            </tr>
            </thead>
        </table>
        <label><button id="mais" class="btn btn-link">...Mais</button></label>
        <h1>TOP 5:</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Título</th>
                <th>Likes</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Alcids</td>
                <td>700</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
 <ul class="pager">
     <li class="previous">
         <a href="#">&larr; Anterior</a>
     </li>
     <li class="next">
         <a href="#">Proximo &rarr;</a>
     </li>
 </ul>

{% endblock %}
