{% extends "/templates/base.html" %}
{% block navbar %}{{ create_navbar("LEITURA") }} {% endblock %}
{% block content %}
{% set tirinha=tirinha or None %}
<form action="{{url_tirinha }}" method="post" enctype="multipart/form-data">
    <fieldset>
        <div class="row pads">
            <div class="span4"></div>
            <div class="span4">
                <label>Carregue a imagem: </label>
                <input type="file" name="file"  />
                <label>Título: </label>
                <input type="text" name="titulo_tirinha" value="{{ tirinha.titulo_tirinha}}" maxlength="25" placeholder="Digite o titulo dessa tirinha"/><br>
                <label>Legenda: </label>
                <input type="text" name="legenda" value="{{ tirinha.legenda}}" maxlength="30" placeholder="Digite uma legenda "/><br>

                {% if tirinha %}
                <input type="hidden" name="id" value="{{ tirinha.key.id()}}"/>
                {% endif %}
                <button class="btn btn-success">Salvar</button> <a class="btn btn-danger" href="/leitura/tirinha/listar"  >Cancelar</a>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}