{% extends "/templates/base.html" %}
{% block navbar %}{{ create_navbar("LEITURA") }} {% endblock %}
{% block head %}
<script type="text/javascript" src="/static/js/mustache.js"></script>
<script type="text/javascript">
    var tmpl=null;
    $.get("/static/html/tirinhas_mustache.html",function(resultado){
        tmpl=resultado;
    });
    var carregarEnviosConstrutor=function (){
        var listUrl="{{ list_url }}";
        var $conteudo=$("#envios");
        return function(){
            $.getJSON(listUrl,function(resposta){
                listUrl=resposta.nextPageUrl;
                var renderizar=Mustache.render(tmpl,resposta);
                $conteudo.append(renderizar);
            });
        }
    };
    
    $(document).ready(function(){
        var carregarEnvios=carregarEnviosConstrutor();
        carregarEnvios();
        $("#mais").click(carregarEnvios);

    });
    
    
</script>
<script type="text/javascript">

    function apagarTirinha() {
        var tirinhaId=$(this).attr("data-id");
        var url=$(this).attr("data-url");
        var loader=$("img[data-id="+ tirinhaId +"]")
        loader.fadeIn();
        alert(tirinhaId);
        function apagarLinha(){
            $('tr[data-id='+tirinhaId+']').fadeOut();
        }

        $.post(url,apagarLinha).error(function(){
            alert("Deu erro ao apagar")
        });
    }
    $(document).ready(function(){
        $("#envios").delegate(".btn-erase","click",apagarTirinha);
        $(".loader").hide();
    });
</script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="span1" style="width: 28px;"></div>
    <div class="span6">
         <h4>Enviar uma nova Tirinha: </h4>
        <a href="/leitura/tirinha/form" class="btn">Enviar</a>
        {% if current_user %}
                <h3>Seus ultimos envios:</h3>
                <table class="table table-bordered" id="envios">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th class="span2">Título</th>
                        <th>Legenda</th>
                        <th >Likes</th>
                        <th>Gerenciar</th>
                    </tr>
                    </thead>
                </table>
                <button id="mais" class="btn btn-warning"><i class="icon-hdd"></i> | Antigas</button>
                <h1>TOP 5:</h1>
                <table class="table table-ordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Título</th>
                        <th>Likes</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Alcids</td>
                        <td>700</td>
                    </tr>
                    </tbody>
                </table>
        {% endif %}
    </div>
</div>
{% endblock %}
