{% extends "/templates/base.html" %}
{% block navbar %}{{ create_navbar("LEITURA") }} {% endblock %}

{% block content %}
{% include "/tirinha/templates/tirinha_form.html" %}
<div class="row">
    <div class="span1"></div>
    <div class="span6">
        <h4>Adoro Pásco.....</h4>
        <img src="/static/img/tirinha.jpg" class="img-polaroid">

    </div>
    <div class="span3">
        <h4>Envie sua Tirinha: </h4>
        <a data-toggle="modal" href="#myModal" class="btn">Enviar</a>
        <h2>Seus ultimos envios:</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Titulo</th>
                <th >Likes</th>
                <th>Gerenciar</th>
                </tr>
                </thead>
            <tbody>
            <tr>
                <td>key</td>
                <td>titulo_tirinha</td>
                <td>avalicao</td>
                <td colspan="2"><a href="#">Apagar</a>/<a href="#">Editar</a></td>
            </tr>
            {% for t in tirinhas %}
            <tr>
                <td>{{ t.key.id}}</td>
                <td>{{ t.titulo_tirinha }}</td>
                <td>{{ t.avalicao }}</td>
                <td><button type="button" class="btn btn-link"  data-id="{{ t.key.id() }}">Apagar</button></td>
                <td><button type="button" class="btn btn-link"  data-id="{{ editar_url }}/{{ t.key.urlsafe() }}">Editar</button></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <label><a href="#">...Mais</a></label>
        <h1>TOP 5:</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Tag tirinha</th>
                <th>Vizualições</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Alcids</td>
                <td>700</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="span1"></div>
</div>
 <ul class="pager">
     <li class="previous">
         <a href="#">&larr; Anterior</a>
     </li>
     <li class="next">
         <a href="#">Proximo &rarr;</a>
     </li>
 </ul>

{% endblock %}
