.navbar {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
}

.logo-img {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;

    height: 300px;
    width: 880px;
}

#header{
    width: 940px;
    padding-bottom: 5px;
}

#footer{
    height: 70px;
    width: 940px;
}

#content {
    padding-top: 5px;
    height:580px;
    width: 880px ;
}

body {
    background-image: url("/../static/img/background.jpg");
}
/*table thead th.border{ border: solid;}*/