.navbar {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
}

.logo-img {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;

    height: 300px;
    width: 880px;
}

#header{
    width: 940px;
    padding-bottom: 5px;
}

#footer{
    height: 70px;
    width: 940px;
}

#content {

 /*   margin: 3px 90px 5px 195px;*/
    padding: 5px 5px 5px 5px;
    height:515px;
    width: 860px ;
}

body {
    background-color: #ffffff;
   /* background-image: url("/../static/img/background.png");*/
}
