{% extends "/templates/base.html" %}
{% block navbar %}{{ create_navbar("LISTA") }} {% endblock %}
{% block content %}
<div class="row-fluid"  style="padding-top: 10px;">
    <div class="span1"></div>
    <div class="span10">
        <a href="/historia/memes/form" class="btn btn-info" style="padding-bottom: 5px;">Novo | <i class="icon-plus icon-white"></i></a>
        <ul class="media-list" style="padding-top: 10px;">
            <li class="media">
                <a class="pull-left">
                    <img class="media-object" src="/static/img/fuuu.jpg">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Rage Guy</h4>
                    <blockquote> O Rage Guy (Cara Furioso, em português) apareceu, primeiramente em 2008, aproximadamente. Ele era usado - e ainda é usado - para ser colocado em tirinhas aonde acontecem coisas do cotidiano que te deixa furioso, fazendo com que você grite "FUUUUUUUUUUUUUUU-". O Rage Guy era exclusivamente apenas do 4chan, até que em 2009 ele foi passando
                            para outros sites, ficando bastante famoso em 2010.</blockquote>
                    <button class="btn btn-danger btn-mini">
                        <i class="icon-remove"></i>
                    </button>
                    <a class="btn btn-warning btn-mini">
                        <i class="icon-edit"></i>
                    </a>
                </div>
            </li>

            {% for h in historia %}
            <li class="media">
                <a class="pull-left">
                    <img class="media-object" src="" alt="{{ h.img_meme }}">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">{{ h.titulo }}</h4>
                    <blockquote>{{ h.conteudo }}</blockquote>
                    <button class="btn btn-danger btn-mini" data-id="{{ h.id() }}">
                        <i class="icon-remove"></i>
                    </button>
                    <a href="{{ editar_url }}/{{ urlsafe() }}" class="btn btn-warning btn-mini">
                        <i class="icon-edit"></i>
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}