{% extends "/templates/base.html" %}
{% block navbar %}{{ create_navbar("LISTA") }} {% endblock %}
{% block content %}
<div class="row-fluid"  style="padding-top: 10px;">
    <div class="span1"></div>
    <div class="span10">
        <ul class="media-list" style="padding-top: 10px;">
            <li class="media">
                <a class="pull-left">
                    <img class="media-object" src="/static/img/fuuu.jpg">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Rage Guy</h4>
                    <blockquote> O Rage Guy (Cara Furioso, em português) apareceu, primeiramente em 2008, aproximadamente. Ele era usado - e ainda é usado - para ser colocado em tirinhas aonde acontecem coisas do cotidiano que te deixa furioso, fazendo com que você grite "FUUUUUUUUUUUUUUU-". O Rage Guy era exclusivamente apenas do 4chan, até que em 2009 ele foi passando
                            para outros sites, ficando bastante famoso em 2010.</blockquote>
                </div>
            </li>

            {% for m in memes %}
            <li class="media">
                <a class="pull-left">
                    <img class="media-object" src="{{ m.img_meme }}">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">{{ m.titulo }}</h4>
                    <blockquote>{{ m.conteudo }}</blockquote>
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}