{% extends "/admin/templates/gerencia.html" %}
{% block content_admin %}
{% set memes=memes or None %}
<form action="{{ save_url }}" method="post">
    <fieldset>
        <div class="row" style="padding-top: 20px;">
            <div class="span1"></div>
            <div class="span8">
                <label>Imagem do Meme: </label>
                <div class="input-append">
                    <input name="img_meme" value="{{ memes.img_meme }}" class="input-medium" id="appendedInputButtons" type="file" placeholder="Carregue a imagem">
                </div>
                <label>Título:</label>
                <input name="titulo" value="{{ memes.titulo }}" class="input-xlarge" type="text" placeholder="Digite o nome deste meme..."><br>
                <label>Conteúdo:</label>
                <textarea name="conteudo" value="{{ memes.conteudo }}" class="input-xxlarge" rows="9"></textarea><br>
                {% if memes %}
                <input type="hidden" name="id" value="{{ memes.id}}"/>
                {% endif %}
                <button class="btn btn-success" type="submit">Salvar</button>
                <a href="/admin/admin" class="btn btn-danger" type="button">Cancelar</a>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
