{% extends "/templates/base.html" %}
{% block navbar %}{{ create_navbar("GERENCIA") }} {% endblock %}
{% block content %}
{% block content_admin %}
{% set memes=memes or None %}
<form action="{{ save_url }}" method="post">
    <fieldset>
        <div class="row-fluid" style="padding-top: 10px">
            <div class="span2"></div>
            <div class="span8">
                <label>Imagem do Meme: </label>
                <div class="input-append">
                    <input name="img_meme" value="{{ memes.img_meme }}" class="input-medium" id="appendedInputButtons" type="text" placeholder="Carregue a imagem">
                    <button class="btn" type="button">Carregar</button>
                </div><br>
                <label>Título:</label>
                <input name="titulo" value="{{ memes.titulo }}" class="input-xlarge" type="text" placeholder="Digite o nome deste meme..."><br>
                <label>Conteúdo:</label>
                <textarea name="conteudo" value="{{ memes.conteudo }}" class="input-xxlarge" rows="9"></textarea><br>
                {% if memes %}
                <input type="hidden" name="id" value="{{ memes.id}}"/>
                {% endif %}
                <button class="btn btn-success" type="submit">Salvar</button>
                <button class="btn btn-danger" type="button">Cancelar</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
