<!DOCTYPE html>
<html>
<head>
    <title>Mosquelando</title>

    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/base.css"/>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
<div id="header" class="container">
    <div id="logo" >
        <a href="/"><img src="/static/img/logo.fw.png" class="logo-img img-rounded" alt="mosquelando"/></a>
    </div>
    {% macro create_navbar(selected_tab="INICIO") %}
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <ul class="nav">
                <li {% if selected_tab=="INICIO" %}class="active" {% endif %}><a href="/">Inicio</a></li>
                <li {% if selected_tab=="LISTA" %}class="active" {% endif %}><a href="/historia/memes/listar">Lista Memes</a></li>
                <li {% if selected_tab=="LEITURA" %}class="active" {% endif %}><a href="/leitura/tirinha/listar_all">Leitura Meme</a></li>
                {% if current_user %}
                <li {% if selected_tab=="GERENCIA" %}class="active" {% endif %}><a href="/admin/admin">Gerencia</a></li>
                {% endif %}
                <li {% if selected_tab=="SOBRE" %}class="active" {% endif %}><a href="/sobre">Sobre</a></li>
                <li>
                    <form class="navbar-form">
                        <div class="input-append">
                            <input class="span2" id="appendedInputButtons" type="text">
                            <button class="btn btn-inverse" type="button">Buscar</button>
                        </div>
                    </form>
                </li>
            </ul>
            <span class="pull-right">
                {% if current_user %}
                    <a href="/down"><img class="img-rounded" style="padding-top: 5px;" src="{{  current_user.avatar_img(30) }}" /></a>
                    <div class="btn-group">
                        <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">{{  current_user.user_name}} <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="/upload/up">Alterar Avatar</a></li>
                          <li><a href="#">Editar dados</a></li>
                          <li><a href="/leitura/tirinha/listar">Meu envios</a></li>
                          <li class="divider"></li>
                          <li><a href="{{ logout_url }}">Logout</a></li>
                        </ul>
                    </div>
                {% else %}
                    <a class="btn btn-primary" href="{{ login_url }}"><i class="icon-user icon-white"></i> | Login</a>
                {% endif %}
            </span>
        </div>
    </div>
    {% endmacro %}
<div class="row">
    <div class="span12">
        {% block navbar %}{{ create_navbar() }} {% endblock %}
    </div>
</div>
</div>
<div id="content" class="container">
    {% block content %}{% endblock %}
</div>

<div id="footer" class="container">
    {% include "/templates/footer.html" %}
</div>
</body>
</html>