<!DOCTYPE html>
<html>
<head>
    <title>Mosquelando</title>

    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/base.css"/>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
<div id="header" class="container">
    <div id="logo" >
        <a href="/"><img class="logo-img" src="/static/img/logo.fw.png" alt="memetizando"/></a>
    </div>
    {% macro create_navbar(selected_tab="INICIO") %}
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <a href="/" class="brand">Mosquelando</a>
            <ul class="nav">
                <li {% if selected_tab=="INICIO" %}class="active" {% endif %}><a href="/">Inicio</a></li>
                <li {% if selected_tab=="LISTA" %}class="active" {% endif %}><a href="/lista">Lista Memes</a></li>
                <li {% if selected_tab=="LEITURA" %}class="active" {% endif %}><a href="/leitura">Leitura Meme</a></li>
                <li {% if selected_tab=="SOBRE" %}class="active" {% endif %}><a href="/sobre">Sobre</a></li>
                <!--<li {% if selected_tab=="FORM" %}class="active" {% endif %}><a href="/formulario">Form</a></li>-->
                <li class="divider"></li>
                <form class="navbar-form pull-left" style="padding-right: 3px; padding-left: 50px;">
                    <input type="text" class="search-query span2" placeholder="Pesquisar">
                </form>
                <li class="divider"></li>
                <li {% if selected_tab=="LOGIN" %}class="active" {% endif %}><a href="/login">Login</a></li>
                <li class="divider"></li>
            </ul>
        </div>
    </div>
    {% endmacro %}
<div class="row">
    <div class="span12">
        {% block navbar %}{{ create_navbar() }} {% endblock %}
    </div>
</div>
</div>
<div id="content" class="container">
    {% block content %}{% endblock %}
</div>

<div id="footer" class="container">
    {% include "/templates/footer.html" %}
</div>
</body>
</html>