{% extends "/templates/base.html" %}
{% block navbar %}{{ create_navbar("FORM") }} {% endblock %}
{% block content %}
{% set usuario=usuario or None %}
<form action="{{ save_url }}" method="post">
    <label>Nome:</label>
    <input type="text" name="user_name" value="{{ usuario.user_name}}" placeholder="Digite seu nome completo"/><br>
    <label>E-mail: </label>
    <input type="email" name="email" value="{{ usuario.email}}" placeholder="ex: mosca@mail.com"/><br>
    <label>Senha: </label>
    <input type="password" name="senha" value="{{ usuario.senha}}" maxlength="8" placeholder="Digite senha com 8 caracteres"/><br>
    <label>Avatar:</label>
    <input type="text" name="avatar" value="{{ usuario.avatar}}" placeholder="Digite o nome do avatar"/><br>
    {% if usuario %}
    <input type="hidden" name="id" value="{{ usuario.id}}"/>
    {% endif %}
    <button class="btn btn-success">Salvar</button>
</form>

{% endblock %}