{% extends "/admin/templates/gerencia.html" %}
{% block content_admin %}
<div class="row-fluid"  style="padding-top: 20px;">
    <div class="span1"></div>
    <div class="span10">
        <table class="table table-bordered">
            <thead>
                <tr class="info">
                    <th>Nome meme</th>
                    <th>Conteudo</th>
                    <th>Imagem meme</th>
                    <th>Editar</th>
                    <th>Remover</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>titulo</td>
                    <td>cotente</td>
                    <td>meme</td>
                    <td>
                        <button class="btn btn-danger btn-mini">
                            <i class="icon-remove"></i>
                        </button>
                    </td>
                    <td>
                        <a href="" class="btn btn-warning btn-mini">
                            <i class="icon-edit"></i>
                        </a>
                    </td>
                </tr>
              {% for m in memes %}
                <tr>
                    <td>{{ m.titulo }}</td>
                    <td>{{ m.conteudo }}</td>
                    <td>{{ m.img_meme }}</td>
                    <td>
                        <button class="btn btn-danger btn-mini" data-id="{{ m.id() }}">
                            <i class="icon-remove"></i>
                        </button>
                    </td>
                    <td>
                        <a href="{{ editar_url }}/{{ urlsafe() }}" class="btn btn-warning btn-mini">
                            <i class="icon-edit"></i>
                        </a>
                    </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}