{% extends "/admin/templates/gerencia.html" %}
{% block content_admin %}
<div class="row-fluid"  style="padding-top: 20px;">
    <div class="span1"></div>
    <div class="span10">
        <table class="table table-bordered">
            <thead>
                <tr class="info">
                    <th>Nome do Usuário</th>
                    <th>Email</th>
                    <th>Editar</th>
                    <th>Remover</th>
                </tr>
            </thead>
            <tbody>
              {% for u in usuario %}
                <tr>
                    <td>{{ u.user_name }}</td>
                    <td>{{ u.email }}</td>
                    <td>
                        <button class="btn btn-danger btn-mini" data-id="{{ u.key.id() }}">
                            <i class="icon-remove"></i>
                        </button>
                    </td>
                    <td>
                        <a href="{{ editar_url }}/{{ urlsafe }}" class="btn btn-warning btn-mini">
                            <i class="icon-edit"></i>
                        </a>
                    </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}