{% extends "/templates/base.html" %}
{% block navbar %}{{ create_navbar("GERENCIA") }} {% endblock %}
{% block content %}
<div class="container-fluid" style="padding-top: 10px; padding-bottom: 10px;">
    <div class="row-fluid">
        <div class="span2">
            <ul class="nav nav-list img-rounded" style="background-color: #eeeeee;">
                <li class="nav-header">HISTORIA MEMES</li>
                <li><a href="/historia/memes/form">Novo</a></li>
                <li><a href="/historia/memes/adminlist">Listar</a></li>
                <li class="nav-header">Usuários</li>
                <li><a href="#">Listar</a></li>
                <li class="nav-header">Tirinhas</li>
                <li><a href="#">Listar</a></li>
            </ul>
        </div>
        <div class="span10">
            <div class="img-rounded" style="background-color: #eeeeee;" >
            {% block content_admin %}
            {% endblock %}
         	</div>
        </div>
    </div>
</div>

{% endblock %}